openapi: 3.0.0
info:
  title: API-AUTH
  version: '1.0'
servers:
  - url: 'http://dev2.uaufi.com'
paths:
  /users:
    post:
      summary: '[STORE] Users'
      operationId: post-users
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      username:
                        type: string
                        minLength: 1
                      email:
                        type: string
                        minLength: 1
                      id:
                        type: number
                      roles:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - id
                            - slug
                            - name
                            - description
                            - created_at
                            - updated_at
                          properties:
                            id:
                              type: number
                            slug:
                              type: string
                              minLength: 1
                            name:
                              type: string
                              minLength: 1
                            description:
                              type: string
                              minLength: 1
                            created_at:
                              type: string
                              minLength: 1
                            updated_at:
                              type: string
                              minLength: 1
                            pivot:
                              type: object
                              properties:
                                role_id:
                                  type: number
                                user_id:
                                  type: number
                              required:
                                - role_id
                                - user_id
                      permissions:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - id
                            - slug
                            - name
                            - module_id
                            - description
                            - created_at
                            - updated_at
                          properties:
                            id:
                              type: number
                            slug:
                              type: string
                              minLength: 1
                            name:
                              type: string
                              minLength: 1
                            module_id:
                              type: number
                            description:
                              type: string
                              minLength: 1
                            created_at:
                              type: string
                              minLength: 1
                            updated_at:
                              type: string
                              minLength: 1
                            pivot:
                              type: object
                              properties:
                                permission_id:
                                  type: number
                                user_id:
                                  type: number
                              required:
                                - permission_id
                                - user_id
                      modules:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - id
                            - name
                            - description
                            - is_active
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                              minLength: 1
                            description:
                              type: string
                              minLength: 1
                            is_active:
                              type: boolean
                            pivot:
                              type: object
                              properties:
                                module_id:
                                  type: number
                                user_id:
                                  type: number
                              required:
                                - module_id
                                - user_id
                    required:
                      - username
                      - email
                      - id
                      - roles
                      - permissions
                      - modules
                required:
                  - user
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                username:
                  type: string
                  minLength: 1
                email:
                  type: string
                  minLength: 1
                password:
                  type: string
                  minLength: 1
                permissions:
                  type: array
                  items:
                    type: integer
                roles:
                  type: array
                  items:
                    type: integer
                modules:
                  type: array
                  items:
                    type: integer
              required:
                - username
                - email
                - password
                - permissions
                - roles
                - modules
            examples:
              example-1:
                value:
                  username: string
                  email: string
                  password: string
                  permissions:
                    - {}
      description: |
        End-point para criar usuarios
    parameters: []
    get:
      summary: '[INDEX/SHOW] Users'
      operationId: get-users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  users:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - id
                        - username
                        - email
                        - password
                        - is_active
                        - created_at
                        - updated_at
                      properties:
                        id:
                          type: number
                        username:
                          type: string
                          minLength: 1
                        email:
                          type: string
                          minLength: 1
                        password:
                          type: string
                          minLength: 1
                        is_active:
                          type: boolean
                        created_at:
                          type: string
                          minLength: 1
                        updated_at:
                          type: string
                          minLength: 1
                        roles:
                          type: array
                          uniqueItems: true
                          minItems: 1
                          items:
                            required:
                              - id
                              - slug
                              - name
                              - description
                              - created_at
                              - updated_at
                            properties:
                              id:
                                type: number
                              slug:
                                type: string
                                minLength: 1
                              name:
                                type: string
                                minLength: 1
                              description:
                                type: string
                                minLength: 1
                              created_at:
                                type: string
                                minLength: 1
                              updated_at:
                                type: string
                                minLength: 1
                              pivot:
                                type: object
                                properties:
                                  role_id:
                                    type: number
                                  user_id:
                                    type: number
                                required:
                                  - role_id
                                  - user_id
                        permissions:
                          type: array
                          uniqueItems: true
                          minItems: 1
                          items:
                            required:
                              - id
                              - slug
                              - name
                              - module_id
                              - description
                              - created_at
                              - updated_at
                            properties:
                              id:
                                type: number
                              slug:
                                type: string
                                minLength: 1
                              name:
                                type: string
                                minLength: 1
                              module_id:
                                type: number
                              description:
                                type: string
                                minLength: 1
                              created_at:
                                type: string
                                minLength: 1
                              updated_at:
                                type: string
                                minLength: 1
                              pivot:
                                type: object
                                properties:
                                  permission_id:
                                    type: number
                                  user_id:
                                    type: number
                                required:
                                  - permission_id
                                  - user_id
                        modules:
                          type: array
                          uniqueItems: true
                          minItems: 1
                          items:
                            required:
                              - id
                              - name
                              - description
                              - is_active
                              - created_at
                              - updated_at
                            properties:
                              id:
                                type: number
                              name:
                                type: string
                                minLength: 1
                              description:
                                type: string
                                minLength: 1
                              is_active:
                                type: boolean
                              created_at:
                                type: string
                                minLength: 1
                              updated_at:
                                type: string
                                minLength: 1
                              pivot:
                                type: object
                                properties:
                                  module_id:
                                    type: number
                                  user_id:
                                    type: number
                                required:
                                  - module_id
                                  - user_id
                required:
                  - users
              examples:
                example-1:
                  value:
                    users:
                      username: string
                      email: string
                      password: string
                      created_at: string
                      updated_at: string
                      id: 0
                      roles:
                        - id: 0
                          slug: string
                          name: string
                          description: string
                          created_at: string
                          updated_at: string
                          pivot:
                            role_id: 0
                            user_id: 0
                      permissions:
                        - id: 0
                          slug: string
                          name: string
                          description: string
                          created_at: string
                          updated_at: string
                          pivot:
                            permission_id: 0
                            user_id: 0
                      modules:
                        - id: 0
                          name: string
                          description: string
                          created_at: string
                          updated_at: string
                          pivot:
                            modules_id: 0
                            user_id: 0
      description: Endpoint para listar todos os usuarios
      parameters:
        - schema:
            type: string
          in: query
          name: user_id
    put:
      summary: '[UPDATE] Users'
      operationId: put-users
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  User:
                    type: object
                    properties:
                      username:
                        type: string
                        minLength: 1
                      email:
                        type: string
                        minLength: 1
                      password:
                        type: string
                        minLength: 1
                      created_at:
                        type: string
                        minLength: 1
                      updated_at:
                        type: string
                        minLength: 1
                      id:
                        type: number
                      roles:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - id
                            - slug
                            - name
                            - description
                            - created_at
                            - updated_at
                          properties:
                            id:
                              type: number
                            slug:
                              type: string
                              minLength: 1
                            name:
                              type: string
                              minLength: 1
                            description:
                              type: string
                              minLength: 1
                            created_at:
                              type: string
                              minLength: 1
                            updated_at:
                              type: string
                              minLength: 1
                            pivot:
                              type: object
                              properties:
                                role_id:
                                  type: number
                                user_id:
                                  type: number
                              required:
                                - role_id
                                - user_id
                      permissions:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - id
                            - slug
                            - name
                            - description
                            - created_at
                            - updated_at
                          properties:
                            id:
                              type: number
                            slug:
                              type: string
                              minLength: 1
                            name:
                              type: string
                              minLength: 1
                            description:
                              type: string
                              minLength: 1
                            created_at:
                              type: string
                              minLength: 1
                            updated_at:
                              type: string
                              minLength: 1
                            pivot:
                              type: object
                              properties:
                                permission_id:
                                  type: number
                                user_id:
                                  type: number
                              required:
                                - permission_id
                                - user_id
                      modules:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - id
                            - name
                            - description
                            - created_at
                            - updated_at
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                              minLength: 1
                            description:
                              type: string
                              minLength: 1
                            created_at:
                              type: string
                              minLength: 1
                            updated_at:
                              type: string
                              minLength: 1
                            pivot:
                              type: object
                              properties:
                                modules_id:
                                  type: number
                                user_id:
                                  type: number
                              required:
                                - modules_id
                                - user_id
                    required:
                      - username
                      - email
                      - password
                      - created_at
                      - updated_at
                      - id
                      - roles
                      - permissions
                      - modules
                required:
                  - User
      parameters:
        - schema:
            type: string
          in: query
          name: user_id
          required: true
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                user:
                  type: object
                  properties:
                    id:
                      type: number
                    username:
                      type: string
                      minLength: 1
                    email:
                      type: string
                      minLength: 1
                    password:
                      type: string
                      minLength: 1
                    is_active:
                      type: boolean
                    created_at:
                      type: string
                      minLength: 1
                    updated_at:
                      type: string
                      minLength: 1
                    roles:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        required:
                          - id
                          - slug
                          - name
                          - description
                          - created_at
                          - updated_at
                        properties:
                          id:
                            type: number
                          slug:
                            type: string
                            minLength: 1
                          name:
                            type: string
                            minLength: 1
                          description:
                            type: string
                            minLength: 1
                          created_at:
                            type: string
                            minLength: 1
                          updated_at:
                            type: string
                            minLength: 1
                          pivot:
                            type: object
                            properties:
                              role_id:
                                type: number
                              user_id:
                                type: number
                            required:
                              - role_id
                              - user_id
                    permissions:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        required:
                          - id
                          - slug
                          - name
                          - module_id
                          - description
                          - created_at
                          - updated_at
                        properties:
                          id:
                            type: number
                          slug:
                            type: string
                            minLength: 1
                          name:
                            type: string
                            minLength: 1
                          module_id:
                            type: number
                          description:
                            type: string
                            minLength: 1
                          created_at:
                            type: string
                            minLength: 1
                          updated_at:
                            type: string
                            minLength: 1
                          pivot:
                            type: object
                            properties:
                              permission_id:
                                type: number
                              user_id:
                                type: number
                            required:
                              - permission_id
                              - user_id
                    modules:
                      type: array
                      uniqueItems: true
                      minItems: 1
                      items:
                        required:
                          - id
                          - name
                          - description
                          - is_active
                          - created_at
                          - updated_at
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                            minLength: 1
                          description:
                            type: string
                            minLength: 1
                          is_active:
                            type: boolean
                          created_at:
                            type: string
                            minLength: 1
                          updated_at:
                            type: string
                            minLength: 1
                          pivot:
                            type: object
                            properties:
                              module_id:
                                type: number
                              user_id:
                                type: number
                            required:
                              - module_id
                              - user_id
                  required:
                    - id
                    - username
                    - email
                    - password
                    - is_active
                    - created_at
                    - updated_at
                    - roles
                    - permissions
                    - modules
              required:
                - user
      description: Endpoint para atualizar um usuario
    delete:
      summary: '[DELETE] Roles'
      operationId: delete-users
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                type: object
                properties: {}
      parameters:
        - schema:
            type: string
          in: query
          name: user_id
          required: true
      description: Endpoint para deletar um usuario
  /permissions:
    get:
      summary: '[INDEX/SHOW] Permissions'
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  permissions:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - id
                        - slug
                        - name
                        - module_id
                        - description
                        - created_at
                        - updated_at
                      properties:
                        id:
                          type: number
                        slug:
                          type: string
                          minLength: 1
                        name:
                          type: string
                          minLength: 1
                        module_id:
                          type: number
                        description:
                          type: string
                          minLength: 1
                        created_at:
                          type: string
                          minLength: 1
                        updated_at:
                          type: string
                          minLength: 1
                        modules:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type: string
                              minLength: 1
                            description:
                              type: string
                              minLength: 1
                            is_active:
                              type: boolean
                            created_at:
                              type: string
                              minLength: 1
                            updated_at:
                              type: string
                              minLength: 1
                          required:
                            - id
                            - name
                            - description
                            - is_active
                            - created_at
                            - updated_at
                required:
                  - permissions
      operationId: get-permissions
      parameters:
        - schema:
            type: string
          in: query
          name: permission_id
      description: End-point para retornar um ou todos os permissões
    post:
      summary: '[STORE] Permissions'
      operationId: post-permissions
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  permission:
                    type: object
                    properties:
                      slug:
                        type: string
                        minLength: 1
                      name:
                        type: string
                        minLength: 1
                      description:
                        type: string
                        minLength: 1
                      module_id:
                        type: number
                      created_at:
                        type: string
                        minLength: 1
                      updated_at:
                        type: string
                        minLength: 1
                      id:
                        type: number
                      modules:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                            minLength: 1
                          description:
                            type: string
                            minLength: 1
                          is_active:
                            type: boolean
                          created_at:
                            type: string
                            minLength: 1
                          updated_at:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - name
                          - description
                          - is_active
                          - created_at
                          - updated_at
                    required:
                      - slug
                      - name
                      - description
                      - module_id
                      - created_at
                      - updated_at
                      - id
                      - modules
                required:
                  - permission
      description: End-point para criar uma permissão
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                slug:
                  type: string
                  minLength: 1
                description:
                  type: string
                  minLength: 1
                module_id:
                  type: number
              required:
                - name
                - slug
                - description
                - module_id
    put:
      summary: '[UPDATE] Permissions'
      operationId: put-permissions
      responses:
        '202':
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  permission:
                    type: object
                    properties:
                      slug:
                        type: string
                        minLength: 1
                      name:
                        type: string
                        minLength: 1
                      description:
                        type: string
                        minLength: 1
                      module_id:
                        type: number
                      created_at:
                        type: string
                        minLength: 1
                      updated_at:
                        type: string
                        minLength: 1
                      id:
                        type: number
                      modules:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type: string
                            minLength: 1
                          description:
                            type: string
                            minLength: 1
                          is_active:
                            type: boolean
                          created_at:
                            type: string
                            minLength: 1
                          updated_at:
                            type: string
                            minLength: 1
                        required:
                          - id
                          - name
                          - description
                          - is_active
                          - created_at
                          - updated_at
                    required:
                      - slug
                      - name
                      - description
                      - module_id
                      - created_at
                      - updated_at
                      - id
                      - modules
                required:
                  - permission
          description: Accepted
      description: Endpoint para atualizar uma permissão
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                slug:
                  type: string
                  minLength: 1
                description:
                  type: string
                  minLength: 1
                module_id:
                  type: number
              required:
                - name
                - slug
                - description
                - module_id
      parameters:
        - schema:
            type: string
          in: query
          name: permission_id
          required: true
    delete:
      summary: '[DELETE] Permissions'
      operationId: delete-permissions
      responses:
        '204':
          description: No Content
      parameters:
        - schema:
            type: string
          in: query
          name: permission_id
          required: true
  /roles:
    get:
      summary: '[INDEX/SHOW] Roles'
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  role:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - id
                        - slug
                        - name
                        - description
                        - created_at
                        - updated_at
                      properties:
                        id:
                          type: number
                        slug:
                          type: string
                          minLength: 1
                        name:
                          type: string
                          minLength: 1
                        description:
                          type: string
                          minLength: 1
                        created_at:
                          type: string
                          minLength: 1
                        updated_at:
                          type: string
                          minLength: 1
                        permissions:
                          type: array
                          uniqueItems: true
                          minItems: 1
                          items:
                            required:
                              - id
                              - slug
                              - name
                              - module_id
                              - description
                              - created_at
                              - updated_at
                            properties:
                              id:
                                type: number
                              slug:
                                type: string
                                minLength: 1
                              name:
                                type: string
                                minLength: 1
                              module_id:
                                type: number
                              description:
                                type: string
                                minLength: 1
                              created_at:
                                type: string
                                minLength: 1
                              updated_at:
                                type: string
                                minLength: 1
                              pivot:
                                type: object
                                properties:
                                  permission_id:
                                    type: number
                                  role_id:
                                    type: number
                                required:
                                  - permission_id
                                  - role_id
                required:
                  - role
      operationId: get-roles
      description: End-point para retornar um ou mais roles
      parameters:
        - schema:
            type: string
          in: query
          name: role_id
          required: true
    post:
      summary: '[STORE] Roles'
      operationId: post-roles
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  Role:
                    type: object
                    properties:
                      name:
                        type: string
                        minLength: 1
                      slug:
                        type: string
                        minLength: 1
                      description:
                        type: string
                        minLength: 1
                      created_at:
                        type: string
                        minLength: 1
                      updated_at:
                        type: string
                        minLength: 1
                      id:
                        type: number
                      permissions:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - id
                            - slug
                            - name
                            - description
                            - created_at
                            - updated_at
                          properties:
                            id:
                              type: number
                            slug:
                              type: string
                              minLength: 1
                            name:
                              type: string
                              minLength: 1
                            description:
                              type: string
                              minLength: 1
                            created_at:
                              type: string
                              minLength: 1
                            updated_at:
                              type: string
                              minLength: 1
                            pivot:
                              type: object
                              properties:
                                permission_id:
                                  type: number
                                role_id:
                                  type: number
                              required:
                                - permission_id
                                - role_id
                    required:
                      - name
                      - slug
                      - description
                      - created_at
                      - updated_at
                      - id
                      - permissions
                required:
                  - Role
              examples:
                example-1:
                  value:
                    permission:
                      slug: string
                      name: string
                      description: string
                      module_id: 0
                      created_at: string
                      updated_at: string
                      id: 0
                      modules:
                        id: 0
                        name: string
                        description: string
                        is_active: true
                        created_at: string
                        updated_at: string
      description: End-point para criar um role
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                slug:
                  type: string
                  minLength: 1
                description:
                  type: string
                  minLength: 1
                permissions:
                  type: array
                  items:
                    type: integer
              required:
                - name
                - slug
                - description
                - permissions
            examples:
              example-1:
                value:
                  name: string
                  slug: string
                  description: string
                  permissions:
                    - 0
    put:
      summary: '[UPDATE] Roles'
      operationId: put-roles
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  role:
                    type: object
                    properties:
                      id:
                        type: number
                      slug:
                        type: string
                        minLength: 1
                      name:
                        type: string
                        minLength: 1
                      description:
                        type: string
                        minLength: 1
                      created_at:
                        type: string
                        minLength: 1
                      updated_at:
                        type: string
                        minLength: 1
                      permissions:
                        type: array
                        uniqueItems: true
                        minItems: 1
                        items:
                          required:
                            - id
                            - slug
                            - name
                            - module_id
                            - description
                            - created_at
                            - updated_at
                          properties:
                            id:
                              type: number
                            slug:
                              type: string
                              minLength: 1
                            name:
                              type: string
                              minLength: 1
                            module_id:
                              type: number
                            description:
                              type: string
                              minLength: 1
                            created_at:
                              type: string
                              minLength: 1
                            updated_at:
                              type: string
                              minLength: 1
                            pivot:
                              type: object
                              properties:
                                permission_id:
                                  type: number
                                role_id:
                                  type: number
                              required:
                                - permission_id
                                - role_id
                    required:
                      - id
                      - slug
                      - name
                      - description
                      - created_at
                      - updated_at
                      - permissions
                required:
                  - role
      parameters:
        - schema:
            type: string
          in: query
          required: true
          name: role_id
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                slug:
                  type: string
                  minLength: 1
                description:
                  type: string
                  minLength: 1
                permissions:
                  type: array
                  items:
                    type: integer
        description: ''
      description: End-point para atualizar um role
    delete:
      summary: '[DELETE] Roles'
      operationId: delete-roles
      responses:
        '204':
          description: No Content
      description: End-point para deletar um role
      parameters:
        - schema:
            type: string
          in: query
          name: role_id
          required: true
  /modules:
    get:
      summary: '[INDEX/SHOW] Modules'
      tags: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  modules:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - id
                        - name
                        - description
                        - is_active
                        - created_at
                        - updated_at
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                          minLength: 1
                        description:
                          type: string
                          minLength: 1
                        is_active:
                          type: boolean
                        created_at:
                          type: string
                          minLength: 1
                        updated_at:
                          type: string
                          minLength: 1
                        roles:
                          type: array
                          uniqueItems: true
                          minItems: 1
                          items:
                            required:
                              - id
                              - slug
                              - name
                              - description
                              - created_at
                              - updated_at
                            properties:
                              id:
                                type: number
                              slug:
                                type: string
                                minLength: 1
                              name:
                                type: string
                                minLength: 1
                              description:
                                type: string
                                minLength: 1
                              created_at:
                                type: string
                                minLength: 1
                              updated_at:
                                type: string
                                minLength: 1
                              pivot:
                                type: object
                                properties:
                                  role_id:
                                    type: number
                                  module_id:
                                    type: number
                                required:
                                  - role_id
                                  - module_id
                        permissions:
                          type: array
                          uniqueItems: true
                          minItems: 1
                          items:
                            required:
                              - id
                              - slug
                              - name
                              - module_id
                              - description
                              - created_at
                              - updated_at
                            properties:
                              id:
                                type: number
                              slug:
                                type: string
                                minLength: 1
                              name:
                                type: string
                                minLength: 1
                              module_id:
                                type: number
                              description:
                                type: string
                                minLength: 1
                              created_at:
                                type: string
                                minLength: 1
                              updated_at:
                                type: string
                                minLength: 1
                required:
                  - modules
      operationId: get-modules
      parameters:
        - schema:
            type: string
          in: query
          name: module_id
    post:
      summary: '[STORE] Modules'
      operationId: post-modules
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  module:
                    type: object
                    properties:
                      name:
                        type: string
                        minLength: 1
                      description:
                        type: string
                        minLength: 1
                      created_at:
                        type: string
                        minLength: 1
                      updated_at:
                        type: string
                        minLength: 1
                      id:
                        type: number
                      roles:
                        type: array
                        items:
                          required: []
                          properties: {}
                      permissions:
                        type: array
                        items:
                          required: []
                          properties: {}
                    required:
                      - name
                      - description
                      - created_at
                      - updated_at
                      - id
                      - roles
                      - permissions
                required:
                  - module
      description: End-point para cadastrar um modulo
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
          application/xml:
            schema:
              type: object
              properties: {}
          multipart/form-data:
            schema:
              description: ''
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                description:
                  type: string
                  minLength: 1
              required:
                - name
    put:
      summary: '[UPDATE] Modules'
      operationId: put-modules
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  module:
                    type: object
                    required:
                      - id
                      - name
                      - description
                      - is_active
                    properties:
                      id:
                        type: number
                      name:
                        type: string
                        minLength: 1
                      description:
                        type: string
                        minLength: 1
                      is_active:
                        type: boolean
                required:
                  - module
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                description:
                  type: string
                  minLength: 1
      parameters:
        - schema:
            type: string
          in: query
          name: module_id
          required: true
      description: End-point para editar um modulo
    delete:
      summary: '[DELETE] Modules'
      operationId: delete-modules
      responses:
        '204':
          description: No Content
      description: End-point para deletar um modulo
      parameters:
        - schema:
            type: string
          in: query
          name: module_id
          required: true
  /sessions:
    post:
      summary: '[STORE] Session'
      operationId: post-sessions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  username:
                    type: string
                    minLength: 1
                  email:
                    type: string
                    minLength: 1
                  token:
                    type: string
                    minLength: 1
                  modules:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - id
                        - name
                        - description
                        - is_active
                      properties:
                        id:
                          type: number
                        name:
                          type: string
                          minLength: 1
                        description:
                          type: string
                          minLength: 1
                        is_active:
                          type: boolean
                        pivot:
                          type: object
                          properties:
                            module_id:
                              type: number
                            user_id:
                              type: number
                          required:
                            - module_id
                            - user_id
                  roles:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - id
                        - slug
                        - name
                        - description
                        - created_at
                        - updated_at
                      properties:
                        id:
                          type: number
                        slug:
                          type: string
                          minLength: 1
                        name:
                          type: string
                          minLength: 1
                        description:
                          type: string
                          minLength: 1
                        created_at:
                          type: string
                          minLength: 1
                        updated_at:
                          type: string
                          minLength: 1
                        pivot:
                          type: object
                          properties:
                            role_id:
                              type: number
                            user_id:
                              type: number
                          required:
                            - role_id
                            - user_id
                  permission:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - id
                        - slug
                        - name
                        - module_id
                        - description
                        - created_at
                        - updated_at
                      properties:
                        id:
                          type: number
                        slug:
                          type: string
                          minLength: 1
                        name:
                          type: string
                          minLength: 1
                        module_id:
                          type: number
                        description:
                          type: string
                          minLength: 1
                        created_at:
                          type: string
                          minLength: 1
                        updated_at:
                          type: string
                          minLength: 1
                        pivot:
                          type: object
                          properties:
                            permission_id:
                              type: number
                            user_id:
                              type: number
                          required:
                            - permission_id
                            - user_id
                required:
                  - username
                  - email
                  - token
                  - modules
                  - roles
                  - permission
      description: 'End-point para login '
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                email:
                  type: string
                  minLength: 1
                password:
                  type: string
                  minLength: 1
                module_required:
                  type: string
                  minLength: 1
              required:
                - email
                - password
                - module_required
  /validate:
    get:
      summary: '[VALIDADE] Sessions'
      tags: []
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      operationId: get-validate
      description: End-point para validar token jwt
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                permission_required:
                  type: string
                  minLength: 1
              required:
                - permission_required
components:
  schemas: {}
  securitySchemes: {}
